# dot folders
.cache/
.idea/
.vs/
.vscode/
.xmake/

# folders
build/
vs*/

# files
*.zip
compile_commands.json
dist/SKSE/Plugins/Modex - A Mod Explorer Menu.pdb
dist/SKSE/Plugins/Modex - A Mod Explorer Menu.dll
